<%- include('includes/head') %>

  <body>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8 my-3">
      <!--conteudo-->

      <h1 class="text-center">ABERTURA DE CHAMADO</h1>
      <hr>
      <%- include('includes/messages') %>

      <form action="/abertura-chamado/abrir-chamado" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group my-2">

            <% let hoje = new Date(); %>
            <% let dia = hoje.getDate(); %>
            <% let mes = hoje.getMonth() + 1; %>
            <% let ano = hoje.getFullYear(); %>

            <h1> Informações do solicitante</h1>
            <span> Nome do solicitante: </span>
            <input type="name" name="nome" class="form-control" value="<%=sessionUser.nome%> <%=sessionUser.sobrenome%>" disabled>
            <input type="hidden" name="nome" class="form-control" value="<%=sessionUser.nome%>">
            <input type="hidden" name="sobrenome" class="form-control" value=" <%= sessionUser.sobrenome %>">
            <span>Departamento</span>
            <input type="text" name="setor"  class="setor form-control" value="<%= sessionUser.setor %>"  disabled>
            <input type="hidden" name="setor"  class="setor form-control" value="<%= sessionUser.setor %>">
            <span>Cargo</span>
            <input type="text" name="funcao" class="cargo form-control" value="<%= sessionUser.funcao %>"  disabled>
            <input type="hidden" name="funcao" class="cargo form-control" value="<%= sessionUser.funcao %>">
            <span>Data de solicitação:</span>
            <input type="text" name="data" class="data form-control" value="<%= dia %>/<%=mes%>/<%=ano%>" disabled>
  

        </div>

        <div class="form-group my-2" >
            <h1>Informações do chamado: </h1>
            <span>N° do chamado: </span>
            <input name="numChamado" class="num-chamado form-control" disabled value="0">
            <input name="numChamado" type="hidden" class="num-chamado form-control" value="1">

            <span>Status do chamado: </span>
            <input class="form-control" name="statusChamado"  disabled value="PENDENTE" style="color: red;">
            <input type="hidden" class="form-control" name="statusChamado"  value="PENDENTE" style="color: red;">

            <span>Motivo do chamado: </span>
            <select name="motivoChamado" class="form-control">
                <option>Selecione o motivo do chamado </option>
                <option value="Software">Software</option>
                <option value="Hardware">Hardware</option>
                <option value="Criação de e-mail"> Criação de e-mail</option>
                <option value="Redefinição de senha de e-mail">Redefinição de senha de e-mail</option>
                <option value="Criação de usuário p/ computador">Criação de usuário p/ computador</option>
                <option value="Redefinição de senha de usuário de computador">Redefinição de senha de usuário de computador</option>
            </select>
            <span>Informe a prioridade do chamado: </span>
            <select name="prioridadeChamado" class="form-control">
                <option value="">Selecione a prioridade do chamado</option>
                <option value="Baixa">Baixa</option>
                <option value="Normal">Normal</option>
                <option value="Alta">Alta</option>

            </select>
            <br>   
            <span>Informe a descrição do chamado: </span>
          <textarea name="descricaoChamado" id="descricaoChamado" cols="80" rows="3" class="form-control" c style="height: 80px;"></textarea>
        </div>

       
          <input type="submit" class="btn btn-primary">
          <a href="/"><input type="button" class="btnVoltar btn btn-danger my-1" value="Voltar"></a>

      

    </form>
</div>


    <div class="col-lg-2"></div>

  </div>
</div>

<%- include('includes/footer') %>